.totalCard {
  background-image: linear-gradient(
    to right,
    var(--primary-light),
    var(--primary-dark)
  );
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 25%;
  color: white;
  padding: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 100px 20px auto;
}

@media (max-width: 648px) {
  .totalCard {
    width: 80%;
    margin: 20px auto;
  }
}
