.activeClass {
  text-decoration: none;
  margin: 0 10px;
  color: var(--primary-light);
  border-bottom: 3px solid var(--primary-dark);
}

.defaultClass {
  text-decoration: none;
  margin: 0 10px;
  color: var(--primary-dark);
}

@media (max-width: 992px) {
  .activeClass {
    border: none;
  }
}
